{% extends "base.html" %}

{% block content %}
    <body>
        <h1>Log in to Blogz!</h1>
        <hr />
        <div class="main">
        <p>If you don't have an account, you may <a href='/register'>register</a> for one.</p>
        <form action="/login" method="POST">

            <table>
                <tr>
                    <td>
                        <label for="email">Email:</label>
                    </td>
                    <td>
                        <input type="email" name="email" value='{{email}}' required />
                    </td>
                </tr>
            
                <tr>
                    <td>
                        <label for="password">Password:</label>
                    </td>
                    <td>
                        <input type="password"  name="password" required />
                    </td>
                </tr>
            </table>

            <input type="submit" value="Login" />
            {% with messages = get_flashed_messages(with_categories=True) %}
            <ul>
            {% for category,message in messages %}
                <li class='{{category}}'>{{message}}</li>
            {% endfor %}
            </ul>
            {% endwith %}
        </form>
        

    </div>
    <hr />
    </body>
{% endblock %}